$main-light-color: #64C4ED;
$main-dark-color: #2454D3;
$button-color: #1988E0;
$hover-color: #229DFF;
$text-color: #333333;
$additional-text-color: #6A6A6A;
$line-color: #DDDDDD;
$icons-selector-color: #F3F3F3;