@import '../../../styles/colors.scss';

.collection {
	transition: 0.03s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	color: $additional-text-color;

	&:hover {
		color: $main-light-color !important;	
	}
}

.label {
	display: flex;
	align-items: center;
	gap: 8px;
	transition: inherit;

	img {
		width: 26px;
		height: 26px;
	}

	span {
		font-size: 14px;
	}
}

.selected {
	color: $main-dark-color;

	&:hover {
		color: $main-dark-color !important;
	}
}


// animation
$transition-time: 1s;

.collectionEnter {
	opacity: 0;
	// top: -15px;
}
.collectionEnterActive {
	opacity: 1;
	// top: 0;
	transition: $transition-time;
}
.collectionEnterDone {
	opacity: 1;
}


.collectionExit {
	opacity: 1;
}
.collectionExitActive {
	opacity: 0;
	transition: $transition-time;
}
.collectionExitDone {
	opacity: 0;
}