.content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.group {
	display: flex;
	align-items: center;
	gap: 10px;
	box-sizing: border-box;
	padding: 0 10px;

	&:hover .caret,
	&:hover .dots {
		opacity: 0.6;
	}

	span {
		font-weight: bold;
		font-size: 20px;
		color: white;
	}
}

.caret {
	display: flex;
	align-items: center;
	height: 25px;
	opacity: 0;
	transition: 0.1s;
	cursor: pointer;

	&:hover {
		opacity: 1 !important;
	}

	img {
		width: 15px;
	}
}

.dots {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.1s;
	cursor: pointer;

	&:hover {
		opacity: 1 !important;
	}

	img {			
		width: 20px;
	}
}


.floatingWindow {
	box-sizing: border-box;
	padding: 0 10px;
}


.collectionList {
	box-sizing: border-box;
	padding: 0 30px;
}