@import '../../../styles/colors.scss';

.content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.title {
	font-weight: 600;
}

.wrapper {
	background-color: $icons-selector-color;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 15px;
	max-width: 400px;
	width: 100%;
}

.icons {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 130px;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 3px;
		border-radius: 10px;
	}
	
	&::-webkit-scrollbar-thumb {
	  border-radius: 10px;
	  background-color: $line-color;
	}
}